.shop-now {
    letter-spacing: 0.8em;
}
.about-furniture h1 {
    letter-spacing: 0.3em;
}
.desktop-nav {
    top: 10%;
    left: 5%;
}
.desktop-nav a {
    padding-bottom: 5px;
}
.desktop-nav a:hover {
    border-bottom: solid 2px white;
    cursor: pointer;
} 

@media screen and (max-width: 1024px) {
    main {
        max-width: 32rem;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1024px) {
    .desktop-slide {
        width: 11.5vw;
    }
}
